*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Merriweather', sans-serif;  
}
.header-section{
    max-width: 1600px;
    margin: 120px;
    display: flex;
    background-image: url(../resource/Banner\ Image.png);
    background-size: 100% 100%;
    height: 600px;
}

.title{
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 150px;
    padding-left: 530px;
    align-items: center;

}
.title-bottom{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding-left: 400px;
    padding-top: 40px;
    
}
.section-one{
    max-width: 1600px;
    margin: 120px;
}
.section-one-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.section-one-info{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-top: 48px;
    padding-bottom: 10px;
}

.section-one-cate{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.section-one-image{
    padding-bottom: 30px;
    text-align: center;
    padding-top: 48px;
}
.section-Two{
    max-width: 1600px;
    margin: 120px;
    display: flex;
    background-image: url(../resource/Vectorrr.png);
    background-repeat: no-repeat;
    position: relative;
    background-size: 100% 100%;
    justify-content: space-between;
}
.section-two-title{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    max-width: 642px;
    padding-top: 126px;
    padding-left: 126px;
}
.section-two-info{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    padding-left: 126px;
    padding-top: 24px;
}
.section-two-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 158px;
    margin-bottom: 142px;
    background: none;
    border: none;
    margin-top: 48px;
}
.section-two-2024{
    margin-top: 68px;
    margin-right: 138px;
}
.section-three-content{
    max-width: 1600px;
    margin: 120px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    background-color: antiquewhite;
    padding-top: 100px;
}
.section-three-title{
    color: #F00;
}
.section-three-btn{
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
    margin-bottom: 126px;
}
.section-four{
    max-width: 1600px;
    margin: 120px;
    display: flex;
}
.section-four >div{
    flex: 1;
}
.section-four-content{
    margin-top: 70px;
    padding-right: 10px;
}
.section-four-circle{
    max-width: 463px;
    border: 10px solid #F00;
    padding: 15px;
    background: #FFF;
    border-radius: 50%;
}
.section-four-title-01{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section-four-title-02{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.section-four-title-03{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.section-four-image{
    padding: 10px;
}
.section-four-info{
    margin-left: 50px;
    margin-top: 70px;
}
.section-four-date{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}
.section-four-info-01{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.section-six-content{
    max-width: 1600px;
    margin: 120px;
    text-align: center;
    background-color: antiquewhite;
    background-size: 100% 100%;
}
.section-six-image{
    max-width: 200px;
    height: 150px;
    background-size: 100%;
    flex-shrink: 0;
    padding-top: 50px;
}
.section-six-title{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 40px;
}
.section-six-info{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-top: 22px;
}
.section-six-input{
    padding: 100px;
    margin-top: 48px;
}
.section-six-email{
    width: 648px;
    height: 72px;
    border: none;
    border-radius: 50px 0px 0px 50px;
}
.section-six-btn{
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
}
.footer-section{
    max-width: 1600px;
    background: #070211;
    padding: 120px 140px;

}
.footer-address{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    padding-bottom: 120px;
}
.footer-address-01{
    display:flex;
    align-items: center;
    
}
.ad-info{
    max-width: 60%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    overflow-wrap: break-word;
}

.phone{
    display:flex;
    align-items: center;
}
.web{
    display:flex;
    align-items: center;
}
.foter-social-medio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.foter-social-medio img{
    padding: 10px;
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    color: #FFF ;
}
.footer-bottom-text{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 80px;
}
.footer-bottom-btn{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 80px;
    background: #070211;
    border: none;
}
hr{
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF26;
    border: none;
}
.section-five{
    max-width: 1600px;
    margin: 120px;
}
.section-five-image-row{
    display: flex;
}
.section-five-image-col{
    margin: 10px;
    max-width: 420px;
    max-height: 445px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}
.section-five-image img{
    width: 100%;
    transition: transform 0.4s ease-in-out;
}
.section-five-image-col img:hover{
    transform: scale(1.5);
}
.section-five-title{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 15px;
    padding-top: 20px;
}
.section-five-info{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.section-five-cat{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 20px;
}